<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light" style="box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);">
  <div class="container">
    <div class="col-lg-3">
      <a class="navbar-brand" href="#">
        <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622568433/LOGO_qoovyx.png" alt="" width="30"
          height="30" class="d-inline-block align-text-top" />
        Oggy
      </a>
    </div>
    <div class="collapse navbar-collapse col-lg-7" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fontbold" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontbold" style="margin-left: 15px;" href="#">Job Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontbold" style="margin-left: 15px;" href="#">Top Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontbold" style="margin-left: 15px;" href="#">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontbold" style="margin-left: 15px;" href="#" tabindex="-1" aria-disabled="true">Post a
            job</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 d-flex" style="padding-left: 160px;">
      <i class="far fa-bell fax" style="font-size: 1.2rem; margin-top: 3px;"></i>
      <div>
        <img class="rounded circle"
          src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622570778/blank-profile-picture-973460_640_tujekx.png"
          alt="" style="border-radius: 50% ;height: 30px; width: 30px;margin-left: 15px;"
          class="d-inline-block align-text-top" />
      </div>
    </div>
  </div>
</nav>
<!-- Search -->
<div class="container mt-3" style="max-width: 1300px">
  <div class="row p-3" style="box-shadow: 1px 0px 6px rgb(0 0 0 / 40%); border-radius: 10px;">
    <div class="col-lg-4 p-0">
      <input type="text" class="form-control hideborder" placeholder="Search jobs" />
    </div>
    <div class="col-lg-3 p-0">
      <input type="text" class="form-control hideborder" placeholder="Job Type" />
    </div>
    <div class="col-lg-3 p-0">
      <input type="text" class="form-control hideborder" placeholder="Location" />
    </div>
    <div class="col-lg-2 p-0" style="text-align:right;">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3">
      <h5 class="fontbold">24 Vaccanies in Indonesi</h5>
      <div class="card p-3">
        <h6 class="fontbold">Job type</h6>
        <ul>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" checked />
            <label for="" class="form-check-label liclass">Fulltime</label>
          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Freelance</label>
          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Contract</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">intern</label>

          </li>
        </ul>
        <hr>
        <h6 class="fontbold">Job Category</h6>
        <ul>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" checked />
            <label for="" class="form-check-label liclass">Design</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" checked />
            <label for="" class="form-check-label liclass">Marketing</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" checked />
            <label for="" class="form-check-label liclass">Management</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">fenance</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Development</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Sales</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Other</label>

          </li>
        </ul>
        <hr>

        <div class="row">
          <div class="col-6">
            <span>$200</span>
          </div>
          <div class="col-6 ">
            <span style="margin-left: 50px;">$40,000</span>
          </div>
        </div>


        <input type="range" class="form-range" id="customRange1">
        <hr>
        <h6 class="fontbold">Experience</h6>
        <ul>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">Less
              than 1 Years</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">1-2
              Years</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">3-5
              Years</label>

          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">5
              Years</label>

          </li>
        </ul>
        <hr>
        <h6 class="fontbold">Last updated</h6>
        <ul>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">5
              Recently</label>
          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">5
              24 Hours</label>
          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">5
              1 Week</label>
          </li>
          <li class="nonelistStyle">
            <input type="checkbox" name="" class="form-check-input" id="" />
            <label for="" class="form-check-label liclass">1
              Day</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 float-right">
      <div class="dropdown " style="text-align: right;">
        <span>Sort by: </span>
        <span class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Newest Post
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <ul>
        <li class="nonelistStyle mt-2">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622568433/LOGO_qoovyx.png" alt=""
                    width="40px" height="40px" />
                </div>
                <div class="col-9">
                  <h5 class="fontbold">UI/UX Designer</h5>
                  <span class="text-muted"> AIA Indonesia </span>
                  <span class="text-muted"><i class="fas fa-map-marker-alt"></i> DKI Jakarta</span>
                </div>
                <div class="col-2"  style="text-align: right;">
                  <span class="fontbold">$3K-$5K </span>

                  <i class="far fa-bookmark p-2"></i>
                </div>
              </div>
              <p class="mt-1 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, possimus. Quod fugit illo eligendi culpa ea
                doloremque a quisquam, deleniti magnam! Velit deserunt impedit
                aut eius repudiandae obcaecati. Odit, aperiam.
              </p>
              <button class="btn btn-secondary bt-sm radius">
                UX/UX Designer
              </button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Senior</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Remote</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Full Time</button>
            </div>
          </div>
        </li>
        <li class="nonelistStyle mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622619796/img1_qlm3jb.jpg" alt=""
                    width="40px" height="40px" />
                </div>
                <div class="col-9">
                  <h5 class="fontbold">Senior UX Researcher</h5>
                  <span class="text-muted"> AIA Indonesia </span>
                  <span class="text-muted"><i class="fas fa-map-marker-alt"></i> DKI Jakarta</span>
                </div>
                <div class="col-2" style="text-align: right;">
                  <span class="fontbold" >$3,5K </span>

                  <i class="far fa-bookmark p-2"></i>
                </div>
              </div>

              <p class="mt-1 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, possimus. Quod fugit illo eligendi culpa ea
                doloremque a quisquam, deleniti magnam! Velit deserunt impedit
                aut eius repudiandae obcaecati. Odit, aperiam.
              </p>
              <button class="btn btn-secondary bt-sm radius buttonpadding">UX</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Senior</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Remote</button>
            </div>
          </div>
        </li>

        <li class="nonelistStyle mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622619784/im3_pxxr3s.jpg" alt=""
                    width="40px" height="40px" />
                </div>
                <div class="col-9">
                  <h5 class="fontbold">Design Lead</h5>
                  <span class="text-muted"> AIA Indonesia </span>
                  <span class="text-muted"><i class="fas fa-map-marker-alt"></i> DKI Jakarta</span>
                </div>
                <div class="col-2"  style="text-align: right;">
                  <span class="fontbold" > $3K-$5K </span>
                  <i class="far fa-bookmark p-2" ></i>

                </div>


              </div>
              <p class="mt-1 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, possimus. Quod fugit illo eligendi culpa ea
                doloremque a quisquam, deleniti magnam! Velit deserunt impedit
                aut eius repudiandae obcaecati. Odit, aperiam.
              </p>
              <button class="btn btn-secondary bt-sm radius buttonpadding">UX</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Senior</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Remote</button>
            </div>
          </div>
        </li>
        <li class="nonelistStyle mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622619785/im2_hdxxhv.jpg" alt=""
                    width="40px" height="40px" />
                </div>
                <div class="col-9">
                  <h5 class="fontbold">Assistant Manager Strategic Project Transport</h5>
                  <span class="text-muted">AIA Indonesia </span>
                  <span class="text-muted"><i class="fas fa-map-marker-alt"></i> DKI Jakarta</span>
                </div>
                <div class="col-2"  style="text-align: right;">
                  <span class="fontbold" > $5K </span>

                  <i class="far fa-bookmark p-2"></i>
                </div>
              </div>
              <p class="mt-1 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, possimus. Quod fugit illo eligendi culpa ea
                doloremque a quisquam, deleniti magnam! Velit deserunt impedit
                aut eius repudiandae obcaecati. Odit, aperiam.
              </p>
              <button class="btn btn-secondary bt-sm radius buttonpadding">UX</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Senior</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Remote</button>
            </div>
          </div>
        </li>
        <li class="nonelistStyle mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-1">
                  <img src="https://res.cloudinary.com/dl4rongvi/image/upload/v1622619785/im4_a2r1yr.jpg" alt=""
                    width="40px" height="40px" />
                </div>
                <div class="col-9">
                  <h5 class="fontbold">Junior UX Researcher</h5>
                  <span class="text-muted">AIA Indonesia </span>
                  <span class="text-muted"><i class="fas fa-map-marker-alt"></i> DKI Jakarta</span>
                </div>
                <div class="col-2"  style="text-align: right;">
                  <span class="fontbold" >$3,5K </span>
                  <i class="far fa-bookmark p-2"></i>
                </div>
              </div>

              <p class="mt-1 text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus, possimus. Quod fugit illo eligendi culpa ea
                doloremque a quisquam, deleniti magnam! Velit deserunt impedit
                aut eius repudiandae obcaecati. Odit, aperiam.
              </p>
              <button class="btn btn-secondary bt-sm radius buttonpadding">UX</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Senior</button>
              <button class="btn btn-secondary bt-sm radius buttonpadding">Remote</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
